.nav {
  margin: 0;
  padding: 0;
}

.link,
.link button {
  list-style: none;
  font-size: 1.2rem;
}

 a {
  color: #fff;
  text-decoration: none;
}

.link:hover a,
.active {
  color: red;
}

.spacer {
  flex: 1 1 auto;
}

ul {
  display: flex;
  min-width: 250px;
  justify-content: space-between;
}

