<mat-toolbar color="primary">
	<span class="link"> <a  routerLink="/">MyMassanger</a></span>
  <span class="spacer"></span>
	<ul class="nav">
		<li class="link" *ngIf="userIsAuthenticated">
			<a [routerLink]="[ '/create']" routerLinkActive="active">New Post</a>
		</li>
    <li class="link" >
			<a
        [routerLink]="[ '/auth/login']"
        routerLinkActive="active"
        *ngIf="!userIsAuthenticated"
        >Login</a>
		</li>
    <li class="link" >
			<a
        [routerLink]="[ '/auth/signup']"
        routerLinkActive="active"
        *ngIf="!userIsAuthenticated"
        >SignUp</a>
		</li>
    <li class="link" >
			<button
        mat-button
        (click)="onLogout()"
        *ngIf="userIsAuthenticated"
        >LogOut
      </button>
		</li>
	</ul>
</mat-toolbar>
