<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
	<form
    *ngIf="!isLoading"
    #loginForm = "ngForm"
    (submit) ="onLogin(loginForm)"
    >
		<mat-form-field>
			<input
        type="text"
        name = "email"
        matInput
        placeholder="E-Mail"
        ngModel
        #email = "ngModel"
        required
        email
        >
      <mat-error *ngIf="email.invalid">
        Enter Email
      </mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
        matInput
        name = "password"
        rows="6"
        placeholder="Password"
        ngModel
        #password = "ngModel"
        required
        minlength="3">
     <mat-error *ngIf="password.invalid">
       Enter password
      </mat-error>
    </mat-form-field>
		<button
      *ngIf="!isLoading"
      mat-raised-button
      color="accent"
      type="submit">
			Login
		</button>
	</form>
</mat-card>
