<div class="error">
	<h1 mat-dialog-title>An Error Occurred </h1>
	<div mat-dialog-content>
		<p>{{data.message}}</p>
	</div>
	<div mat-dialog-content>
		<button mat-button mat-dialog-close>Okay</button>
	</div>
</div>
