mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: 0 auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0
}

.image-preview img {
  height: 100%
}
