<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
	<form
    *ngIf="!isLoading"
    [formGroup] = "form"
    (submit) = "onSavePost()">
		<mat-form-field>
			<input
        type="text"
        formControlName = "title"
        matInput rows="6"
        placeholder="Post title"
        >
      <mat-error *ngIf="form.get('title')?.invalid">
        Enter title
      </mat-error>
		</mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <div class="image-preview" *ngIf="imagePreview && form.get('imagePath')?.valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
		<mat-form-field>
			<textarea
        matInput
        formControlName = "content"
        rows="6"
        placeholder="Post content">
      </textarea>
     <mat-error *ngIf="form.get('content')?.invalid">
       Enter content
      </mat-error>
    </mat-form-field>
		<button
      mat-raised-button
      color="accent"
      type="submit">
			Save post
		</button>
	</form>
</mat-card>
