<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="posts.length && !isLoading" >
	<mat-expansion-panel *ngFor="let post of posts">
		<mat-expansion-panel-header>
			<h2>{{post.title}}</h2>
		</mat-expansion-panel-header>
    <div class="img">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click) = 'onDelete(post.id)'>DELETE</button>
    </mat-action-row>
	</mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="posts.length && !isLoading"
  [length] = "totalPosts"
  [pageSize] = "postsPerPage"
  [pageSizeOptions] = "pageSizeOptions"
  (page) = "onChangePage($event)">
</mat-paginator>
	<p class="mat-body-1" *ngIf="!isLoading && !posts.length">No any elements</p>
